.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #111920;
    transition: 0.4s
}
.nav-link:hover {
    color: #111920;
}
.nav-link:hover::after {
    width: 100%
}
.navbar-nav:hover {
    color: #111920;
}
.nav-link:active {
    color: #111920;
}

.navbar-brand::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #111920;
    transition: 0.4s
}
.navbar-brand:hover{
    color: #111920;
}
.navbar-brand:hover::after {
    width: 100%
}
.navbar-brand:active {
    color: #111920;
}
